<div class="horizontal-container card">
    <img width="75px" height="75px" [src] ="gitHubData.avatar_url"/>
    <div class="data-container">
        <div id = "name">Nombre: {{gitHubData.name}}</div>
        <div id = "login">Username: {{gitHubData.login}}</div>
        <div class="horizontal-container container-space">
            <div id = "followers">Followers:{{gitHubData.followers}} </div> 
            <div id = "following">Following:{{gitHubData.following}} </div>
        </div>
    </div>
</div>