.card{
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
}
.horizontal-container{
    display: flex;
    flex-direction: row;
}
.data-container{
    margin: 10px;
}
.container-space{
    justify-content: space-between;
}