<div align= "center">
        <h1>¡BIENVENIDO!</h1>
    <div class="login-card">
        Name 
        <input id = "realName" type="text" [(ngModel)] = "realname" placeholder="your name"/><br>
        User
        <input id = "userName" type="text" [(ngModel)] = "user" placeholder="your alias"/><br>
        Password
        <input id = "pass" type="password" [(ngModel)] = "password" placeholder="your pass"/><br>
        Confirm Password 
        <input id = "passConfirm" type="password" pattern="[^ @]*@[^ @]*" [(ngModel)] = "passConfirm" placeholder="confirm your pass"/><br>
        Email
        <input id = "mail" type="email" [(ngModel)] = "mail" placeholder="your email"/><br>
        <input id = box type="checkbox"  [(ngModel)]="read"> I have read all this shit<br>
        <br>
        <button (click) = "verifyLogin()">Login</button>
    </div>
</div>